<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partials "head.html" . }}
    </head>
    <body>
        <div>
            {{ if .Site.Params.nav.enable }}
            {{ partials "nav.html" . }}
            {{ end }}

            {{ if .Site.Params.hero.enable }}
            {{ partials "hero.html" . }}
            {{ end }}

            {{ if .Site.Params.process.enable }}
            {{ partials "process.html" . }}
            {{ end }}

            {{ if .Site.Params.case_studies.enable }}
            {{ partials "case_studies.html" . }}
            {{ end }}

            {{ if .Site.Params.footer.enable }}
            {{ partials "footer.html" . }}
            {{ end }}
        </div>

        {{ partials "scripts.html" . }}

    </body>
</html>